
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block
}

a {
  text-decoration: none;
}


p {
  font-size: 13px;
  font-family: arial;
}

.top a {
  text-decoration: none;
  color: black;
  font-family: arial;
  font-size: 13px;
  padding-left: 10px;
}

.top a:hover {
  text-decoration: underline;
}

.navbar {
  min-width: 242px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  position: relative;
  text-align: right;
}

.bottombar {
  background-color: rgb(217, 217, 217);
  height: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.bottombar li {
  color: rgb(77, 77, 77);
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-family: arial;
}

.bottombar a {
  color: rgb(77, 77, 77);
}

.bottombar ul {
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottomtext a:hover {
  text-decoration: underline;
}

.blue {
  color: blue;
}

.blue:hover {
  text-decoration: underline;
}

.cube {
  background-image: url (https://super-kebin.github.io/google-homepage/i1_1967ca6a.png);
  height: 30px;
  width: 30px;
  display: inline-block;
  background-position: -132px -38px;
  opacity: .55;
}
